.help-icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.help-icon {
  width: 12px;
  height: 12px;
}

.help-tooltip {
  display: inline-block;
  white-space: pre-line;
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 12px;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 10;
  top: -25%;
  left: 150%;
  opacity: 0;
  transition: opacity 0.2s;
}

.help-icon-container:hover .help-tooltip {
  visibility: visible;
  opacity: 0.9;
}