.home-container {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    padding: 40px 40px 0;
    box-sizing: border-box;
    overflow: hidden;
}

.home-container h1 {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 4px 10px rgba(0,0,0,.2);
    font-weight: 550;
    /* color: rgba(0, 0, 0, 1); */
    /* text-shadow: 0 4px 10px rgba(0,0,0,.1); */
    /* font-weight: 400; */
    font-family: "Roboto", sans-serif;
    font-size: calc(10px + 3vw);
    letter-spacing: -0.05cap;
    margin: 20px 0 0;
}

.home-container .home-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 0px 0;
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
}

.button-container select {
    width: 9em;
    font-size: 0.8em;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.25em 0.5em;
    margin: 2em 2em;
    z-index: 2;
}

.home-container p {
    width: 80%;
    padding: 1em 2em;
}

.home-container .home-form {
    width: min(80vw, 320px);
}

.home-container .home-form h3 {
    text-align: left;
    padding: 0.5em 1em;
    font-weight: 800;
    height: 50px;
}

.home-container .home-form h3 span {
    font-weight: 300;
}

#recommendation {
    color: white;
    font-size: 1.2em;
    font-weight: 800;
}

/* Decorations */
.decorations-wrapper {
    overflow: hidden;
    pointer-events: none;
}   

.decoration { 
    position: absolute;
    border: 50px solid var(--bg-color-glass);
    opacity: 0.2;
    z-index: 0;
    pointer-events: none;
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Old versions of Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Chrome, Edge, Opera and Firefox */
}

.donut { 
    border-radius: 800px;
}

#decor1 {
    top: -70px; 
    left: -70px;
    height:100px;
    width:100px;
}

#decor2 {
    top: 200px; 
    right: 50px;
    height:100px;
    width:100px;
    transform: rotate(-30deg);
}

#decor3 {
    top: 670px; 
    left: 400px;
    height:150px;
    width:150px;
}

#decor4 {
    top: 200px; 
    left: 200px;
    height:60px;
    width:60px;
    transform: rotate(-60deg);
}

#decor5 {
    top: 600px; 
    right: 200px;
    height:50px;
    width:50px;
    transform: rotate(80deg);
}